/* style block */
body{
  /* color scheme */
  --color-primary: #ccd5ae;
  --color-primary-dark: #b9c29e;
  --color-primary-moredark: #8a9272;
  --color-primary-moredarkplus: #656b54;
  --color-secondary: #e8e8e4;
  --color-third: #9B2226;
  --color-background: #d8e2dc;
  --border-radius: 4px;
  
  /* scale + styles */
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: var(--color-background);
}

/*|| table's column and row settings ||*/
table {
  margin: auto;
}
td, th {
  padding: 3rem;
}

/*|| main box ||*/
.container {
  height: 264px;
  max-height: 264px;
  width: 264px;
  max-width: 264px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: var(--color-secondary);
}
.container:hover {
  background: var(--color-primary-moredark);
}
.container:active {
  transform: scale(0.98);
}

/* form top + bottom margins */
.form-parent-class > *:first-child {
  margin-top: 0;
}
.form-parent-class > *:last-child {
  margin-bottom: 0;
}

/*|| submit button image ||*/
.form-button-image{
  padding-top: 1.4rem;
  padding-bottom:0.8rem;
  padding-left: 52.8px;
  width: 60%;
  height: auto;
}

/*|| submit button text ||*/
.form-button-text{
  width: 264px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary-dark);
}